mapmaker-shared/src/main/resources/org/jason/mapmaker/shared/jaxb/ImportRequest.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="ImportRequest" type="ImportRequest"/>
    <xsd:complexType name="ImportRequest">
        <xsd:sequence>
            <xsd:element name="initialType" type="xsd:string" />
            <xsd:element name="encodedData" type="xsd:base64Binary" />
        </xsd:sequence>
    </xsd:complexType>


</xsd:schema>